@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

.clickable {
  cursor: pointer;
}

button:hover {
  background-color: #91aec1;
}

.error {
  color: red;
}

.success {
  color: green;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}

input {
  padding: 7px;
}

.hidden {
  display: none;
}

.right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 0;
}

.hover-underline:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding-bottom: 20px;
}

header {
  margin-bottom: 10px;
}
